<html>

<head>
    <title> Practice </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.css">
    <link rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/theme/mbo.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <% include ../partials/styles %>
</head>

<body class="full-height" style="overflow: hidden">
    <% include ../partials/navbar %>
    <div id="notification" style="display: none;" class="bg-primary"> </div>

        <!-- List of robots -->
        <div class="border border-dark bg-medium-blue sidebar-no-animation" id="sidebar">
            <h3 class="lead text-center text-light my-3"> ROBOTS </h3>
            <hr class="bg-light">
            <div class="list-group">
                <% if(typeof print !== 'undefined') {           %>
                <%     for(var i = 0; i < print.length; i++) {  %>
                    <button type="button" id="robotsList" class="list-group-item list-group-item-action list-group-item-info rounded-0" onclick="chooseRobot(this)">
                        <%= print[i].name %>
                    </button>
                <% }} %> 
            </div>
        </div>

        <!-- Pushed by sidebar -->
        <div style="height: calc(100% - 62px);" id="mainContent">

            <!-- Game view [First half]-->
            <div id="game-view" class="split split-vertical" style="overflow-y: hidden; background-color: #2a2a2a;" onwheel="zoomOnWheel(event)">

                <!-- Hamburger for list menu -->
                <span class="navbar-toggler bars" id="sidebarButton" style="font-size: 30px; cursor: pointer; position: fixed; width: 70px;" onclick="toggleSidebar();">
                    <i id="sidebarButtonIcon"></i>
                </span>

                <!-- Game canvas -->
                <div id="display"></div>
            </div>


            <!-- Splitter -->
            <div class="gutter gutter-vertical"></div>

            <!-- Code editor [Second half]-->
            <div id="code-view" class="split split-vertical bg-secondary" style="overflow-y: hidden">
                
                <!-- Buttons ... -->
                <div style="position: sticky; top: 0; z-index: 200">
                        <ul class="nav nav-pills bg-dark rounded-0 border-bottom-0" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active rounded-0" id="script-tab" data-toggle="tab" href="#script" role="tab" aria-controls="script" aria-selected="true"> SCRIPT </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link rounded-0" id="console-tab" data-toggle="tab" href="#console" role="tab" aria-controls="console" aria-selected="false"> CONSOLE </a>
                            </li>
        
                            <!-- Divider -->
                            <i class="border border-right-0 border-left-5 border-secondary mx-3"> </i>
                            <!-- -->
        
                            <button class="btn btn-success rounded-0" onclick="execute()" title="RUN">
                                <i class="fa fa-play"></i> RUN
                            </button>
        
                            <button id="save" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#saveCodeModal" title="SAVE CODE">
                                <i class="fa fa-save"></i> SAVE
                            </button>
        
                            <button class="btn btn-danger rounded-0" onclick="stopGame()" title="STOP">
                                <i class="fa fa-stop"></i> STOP
                            </button>
        
                            <button class="btn btn-warning rounded-0" onclick="centerContainer()" title="CENTER">
                                <i class="fa fa-circle"></i> CENTER
                            </button>
        
                            <!-- Divider -->
                            <i class="border border-right-0 border-left-5 border-secondary mx-3"> </i>
                            <!-- -->
        
                            <button class="btn btn-outline-danger disabled rounded-0" id="game-state-indicator" title="GAME STATE">
                                Stopped
                            </button>
                        </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="script" role="tabpanel" aria-labelledby="script-tab">
                        <div id="editor">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="console" role="tabpanel" aria-labelledby="console-tab">
                        <button class="btn btn-danger btn-sm border-0 rounded-0" onclick="clearGameConsole()">
                            <i class="m-1 fa fa-trash fa-1x text-light"></i>
                        </button>
                        
                        <!-- Game console logs -->
                        <div id="console-logs"> </div>
                    </div>
                </div>

                <script src="./js/code_editor.js"></script>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js"></script>
        <script src="./js/splitter.js"></script>
        <script src="./js/game/pixi.min.js"></script>
        <script src="./js/game/game-main.js"></script>

        <script>
            var robotNameInternal = "";

            // Setting initial values.
            editor.setValue(`<%- print[0].code %>`)
            robotNameInternal = `<%= print[0].name %>`

            // Choose robot on button click.
            function chooseRobot(element){
                `<% for(var i = 0; i < print.length; i++){ %>`
                    if(element.innerText === `<%= print[i].name %>`){
                        editor.setValue(`<%- print[i].code %>`);
                        robotNameInternal = `<%= print[i].name %>`;
                    }
                `<% } %>`
            }

            // Save code for selected robot.
            function saveCode() {
                $.ajax({
                    type: "POST",
                    data: { robotName: robotNameInternal, code: editor.getValue() },
                    url: '/update-robot-code',
                    success: sendNotification('Code changes saved for ' + robotNameInternal + '.'),
                    error: err => { sendNotification('An error occoured.'); }
                });

                $('#saveCodeModal').modal('hide');
            }

            function sendNotification(message) {
                $("#notification").fadeIn("slow").text(message);
                dismissNotification();
            }

            function dismissNotification() {
                $("#notification").delay(3000).fadeOut("slow");
            }

            function setGameState(running){
                console.log('Called ');
                if(running){
                    $("#game-state-indicator").attr('class', 'btn btn-outline-success disabled rounded-0').text("Running");
                    $("#game-state-indicator").children().attr('class', 'fa fa-play');
                }
                else{
                    $("#game-state-indicator").attr('class', 'btn btn-outline-danger disabled rounded-0').text("Stopped");
                    $("#game-state-indicator").children().attr('class', 'fa fa-circle');
                }
            }

            // REPETITIVE. Make toggler script to handle sidebar states.
            function toggleSidebar() {
                if (document.getElementById("sidebar").style.width == "0px")
                    openSidebar();
                else 
                    closeSidebar();
            }

            switch (localStorage.getItem("robotListSidebar")) {
                case 'open':
                    openSidebar();
                    break;
                case 'closed' || null:
                    closeSidebar();
                    break;
            }

            function openSidebar() {
                document.getElementById("sidebarButtonIcon").className = "fa fa-times";
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("mainContent").style.marginLeft = "250px";
                localStorage.setItem("robotListSidebar", "open");
            }

            function closeSidebar() {
                document.getElementById("sidebarButtonIcon").className = "fa fa-bars";
                document.getElementById("sidebar").style.width = "0px";
                document.getElementById("mainContent").style.marginLeft = "0px";
                localStorage.setItem("robotListSidebar", "closed");
            }

        </script>

        <!-- Game logic -->
        <script src="./js/game/users-code.js"></script>
        <script src="./js/game/console-logger.js"></script>

        <!-- Modal -->
        <div class="modal fade" id="saveCodeModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveModalLabel"> Save code. </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal"> Close </button>
                        <button type="button" class="btn btn-primary rounded-0" onclick="saveCode()"> Save changes </button>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/bootstrapjs %>

        <!-- Inserts name of selected robot to modal. -->
        <script>
            $('#saveCodeModal').on('show.bs.modal', function(e) {
                var $modal = $(this);
                $modal.find('.modal-body').html("Save code for <b>" + robotNameInternal + "</b> ?");
            });

            function clearGameConsole(){
                var gameConsole = document.getElementById("console-logs");
                while (gameConsole.firstChild)
                    gameConsole.removeChild(gameConsole.firstChild);
            }

            $('.CodeMirror-code').addClass('GutterMarginCustom');

        </script>

    </body>
</html>