<div id="sidebarID" class="sidebar shader bg-medium-blue">
    <h5 class="text-light pt-4 pl-3">
      <img src="../../img/profile.png" class="img-rounded pr-2" style="max-width: 20%; max-height: 20%;"> 
      <%= name %> 
    </h5>
  <hr/>

  <% var buttonStyling = 'btn btn-lg btn-block rounded-0 mb-0 text-left text-light sidebar-button' %>
  <% function setActiveTab(setActive) { %>
      <% if(setActive) { %>
          <%= 'btn-danger' %>
      <% } %>
  <% } %>

  <a type="button" id="summary" class="<%= buttonStyling %> <% setActiveTab(pageID == 'overview') %>" style="text-decoration: none;" href="/dashboard/overview"> 
    <i class="fa fa-address-card"></i> Overview 
  </a>
  <a type="button" id="robot-list" class="<%= buttonStyling %> <% setActiveTab(pageID == 'robots') %>" href="/dashboard/robots"> 
    <i class="fa fa-code"></i> Robots 
  </a>
  <a type="button" id="statistics" class="<%= buttonStyling %> <% setActiveTab(pageID == 'statistics') %>" href="/dashboard/statistics"> 
    <i class="fa fa-bar-chart"></i> Statistics 
  </a>
  <a type="button" id="achievements" class="<%= buttonStyling %> <% setActiveTab(pageID == 'achievements') %>" href="/dashboard/achievements"> 
    <i class="fa fa-unlock"></i> Achievements 
  </a>
  <a type="button" id="user-settings" class="<%= buttonStyling %> <% setActiveTab(pageID == 'settings') %>" href="/dashboard/settings"> 
  	<i class="fa fa-cogs"></i> Settings 
  </a>

</div>