<!doctype html>
<html lang="en">

<head>
    <% include ../partials/styles %>
        <title> Rankings </title>
</head>

<body>
    <% include ../partials/navbar %>
        <table style="width:50%">
            <tr>
                <th style="width:5%">
                    Position
                </th>
                <th style="width:35%">
                    Name
                </th>
                <th style="width:5%">
                    Wins
                </th>
                <th style="width:5%">
                    Losses
                </th>
                <th style="width:10%">
                    Games won
                </th>
            </tr>
            <form method="GET" action="/show-all-players" autocomplete="off">
                <% for(var i = 0; i < print.length; i++){ %>
                    <tr>
                        <th style="width:5%">
                            <%= Number(i+1)%>
                        </th>
                        <th style="width:35%">
                            <%= print[i].Username %>
                        </th>
                        <th style="width:5%">
                            <%= print[i].Kills %>
                        </th>
                        <th style="width:5%">
                            <%= print[i].Deaths %>
                        </th>
                        <th style="width:10%">
                            <%= print[i].Games_won %>
                        </th>
                    </tr>
                    <% } %>
            </form>

        </table>


        <% include ../partials/bootstrapjs %>
</body>

</html>